* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

/* fonts */

@font-face {
  font-family: "Druk Bold";
  src: url(fonte/Druk\ Bold\ Regular.woff2);
}

@font-face {
  font-family: "Druk Text";
  src: url(fonte/Druk\ Text\ Wide\ Bold\ Italic.woff2);
}

@font-face {
  font-family: "Druk Wide";
  src: url(fonte/Druk\ Wide\ Bold.woff2);
}

/* overskrifter */

h1 {
  font-family: "Druk Wide";
  color: #e637a7;
  text-decoration: underline;
  margin-top: 1rem;
}

h2 {
  font-family: "Druk Wide";
  color: #f9b233;
  font-size: 2rem;
  text-decoration: underline;
}

/* logo */

nav div {
  padding-top: 1rem;
  grid-column: 2/2;
  text-align: center;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* lykkehjul */

/* #hjul {
  position: absolute;
  width: 50%;
  aspect-ratio: 152/152;
  top: 58%;
  left: 90.16%;
  background-image: url(assets/hjul.svg);
  background-size: cover;
} */
