* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}
/* header/nav */

.grid_menu {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

header {
  background: transparent;
  position: sticky;
  top: 0;
}

header ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #f9b233;
}

#lukmenu_knap {
  grid-column: 1/1;
  grid-row: 1/1;
}

#lukmenu_knap img {
  width: 55%;
}

#åbenmenu_knap {
  grid-column: 1/1;
  grid-row: 1/1;
}

#åbenmenu_knap img {
  width: 55%;
}

.sidepanel {
  height: 925px;
  position: fixed;
  z-index: 1;
  background-color: #0048ae;
  overflow-x: hidden;
  padding-top: 160px;
  transition: 0.3s;
  top: 0;
  left: 0;
  width: 0;
}

.sidepanel a {
  margin: 0px 0px 50px 30px;
  text-decoration: none;
  color: #f9b233;
  letter-spacing: 1.5px;
  display: block;
  transition: 0.3s;
  font-family: "Druk Wide";
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  padding-bottom: 10px;
  padding-right: 40px;
}

.sidepanel a:hover {
  color: #e637a7;
}

.sidepanel .closebtn {
  position: absolute;
  top: 30px;
}

.openbtn {
  cursor: pointer;
  place-self: start start;
  margin: 30px 30px 30px 20px;
  border: none;
  background: transparent;
}

/* #nav_desktop {
  display: none;
} */

/* main mobile */

#first_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.blaamand {
  grid-column: 1/4;
  grid-row: 1/8;
  overflow: hidden;
}

.wrap {
  background-image: url(assets/blaamandmobile.svg);
  background-repeat: no-repeat;
}

#GR {
  grid-column: 2/3;
  grid-row: 1/1;
  color: #f9b233;
  font-family: "Druk Wide";
  text-transform: uppercase;
  font-size: 80px;
  letter-spacing: 20px;
  place-self: center;
}

#OB {
  grid-column: 1/2;
  grid-row: 2/2;
  color: #f9b233;
  font-family: "Druk Wide";
  text-transform: uppercase;
  font-size: 85px;
  letter-spacing: 20px;
  place-self: center;
}

#teater {
  grid-column: 1/3;
  grid-row: 3/3;
  color: #e637a7;
  font-family: "Druk Bold";
  text-transform: uppercase;
  font-size: 80px;
  letter-spacing: 20px;
  place-self: center;
}

#dtf {
  grid-column: 1/2;
  grid-row: 5/5;
  color: #e637a7;
  font-family: "Druk Bold";
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  place-self: center;
}

#billet {
  grid-column: 2/2;
  grid-row: 5/5;

  place-self: center;
}
#billet p {
  color: #f9b233;
  font-family: "Druk Text";
  font-size: 0.7rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5;
}

#billet h2 {
  color: #f9b233;
  font-family: "Druk Bold";
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 2px;
  text-decoration: underline;
  text-decoration-color: #e637a7;
}

#billet button {
  border-color: #f9b233;
  background-color: transparent;
  color: #f9b233;
  margin-top: 0.5rem;
  font-family: "Druk Wide";
  font-size: 0.5rem;
  border-radius: 5px;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* kampagne beskrivelse */

#kampagne {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h3 {
  color: #f9b233;
  font-family: "Druk Bold";
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: 2px;
}

h4 {
  color: #e637a7;
  font-family: "Druk Bold";
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

#kampagne p {
  color: #f9b233;
  font-family: "Druk Text";
  font-size: 0.8rem;
  margin-right: 2.5rem;
}

/* hjul */

#hjul {
  max-width: 700px;
}

.drej {
  animation-name: drej_kf;
  animation-duration: 5s;
  animation-timing-function: initial;
}

@keyframes drej_kf {
  0% {
    -moz-transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    -o-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
  }
  100% {
    -moz-transform: rotate(680deg);
    -webkit-transform: rotate(680deg);
    -o-transform: rotate(680deg);
    -ms-transform: rotate(680deg);
  }
}

/* header/nav menu 600 */
@media (min-width: 600px) {
  #mySidepanel {
    display: none;
  }

  .openbtn {
    display: none;
  }

  #nav_desktop {
    display: flex;
    place-content: center;
    gap: 40px;
  }

  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-bottom: 5px;
    gap: 40px;
    overflow-x: auto;
    flex-flow: wrap;
  }

  .grid_menu {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 10px;
  }

  #nav_desktop a {
    color: #000000;
    font-family: "Vujahday Script", cursive;
    text-transform: uppercase;
    font-size: 16px;
    gap: 20px;
  }

  header {
    background: #000000;
    position: sticky;
    top: 0;
    padding-bottom: 20px;
  }

  #nav_desktop a:hover {
    color: #000000;
  }
}

/* fonts */

@font-face {
  font-family: "Druk Bold";
  src: url(fonte/Druk\ Bold\ Regular.woff2);
}

@font-face {
  font-family: "Druk Text";
  src: url(fonte/Druk\ Text\ Wide\ Bold\ Italic.woff2);
}

@font-face {
  font-family: "Druk Wide";
  src: url(fonte/Druk\ Wide\ Bold.woff2);
}
