* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}
/* header/nav */

.grid_menu {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

header {
  background: #000000;
  position: sticky;
  top: 0;
}

header ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #f9b233;
}

#lukmenu_knap {
  grid-column: 1/1;
  grid-row: 1/1;
}

#lukmenu_knap img {
  width: 70%;
}

#åbenmenu_knap {
  grid-column: 1/1;
  grid-row: 1/1;
}

#åbenmenu_knap img {
  width: 70%;
}

.sidepanel {
  height: 925px;
  position: fixed;
  z-index: 1;
  background-color: #0048ae;
  overflow-x: hidden;
  padding-top: 160px;
  transition: 0.3s;
}

.sidepanel a {
  margin: 0px 0px 50px 30px;
  text-decoration: none;
  color: #f9b233;
  letter-spacing: 1.5px;
  display: block;
  transition: 0.3s;
  font-family: "Druk Wide";
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  padding-bottom: 10px;
  padding-right: 40px;
}

.sidepanel a:hover {
  color: #e637a7;
}

.sidepanel .closebtn {
  position: absolute;
  top: 30px;
}

.openbtn {
  cursor: pointer;
  place-self: start start;
  margin: 30px 30px 30px 20px;
  border: none;
  background: transparent;
}

#nav_desktop {
  display: none;
}

/* main mobile */

#first_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

h1 {
  color: #857f7f;
  font-family: "Druk Bold";
  text-transform: uppercase;
  font-size: 100px;
}

/* header/nav menu 600 */
@media (min-width: 600px) {
  #mySidepanel {
    display: none;
  }

  .openbtn {
    display: none;
  }

  #nav_desktop {
    display: flex;
    place-content: center;
    gap: 40px;
  }

  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-bottom: 5px;
    gap: 40px;
    overflow-x: auto;
    flex-flow: wrap;
  }

  .grid_menu {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 10px;
  }

  #nav_desktop a {
    color: #000000;
    font-family: "Vujahday Script", cursive;
    text-transform: uppercase;
    font-size: 16px;
    gap: 20px;
  }

  header {
    background: #000000;
    position: sticky;
    top: 0;
    padding-bottom: 20px;
  }

  #nav_desktop a:hover {
    color: #dd6300;
  }
}

/* fonts */

@font-face {
  font-family: "Druk Bold";
  src: url(fonte/Druk\ Bold\ Regular.woff2);
}

@font-face {
  font-family: "Druk Text";
  src: url(fonte/Druk\ Text\ Wide\ Bold\ Italic.woff2);
}

@font-face {
  font-family: "Druk Wide";
  src: url(fonte/Druk\ Wide\ Bold.woff2);
}
